#todo-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.todo-object{
  margin: 40px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 10px;
}

.tag {
  background-color: rgba(135, 132, 132, 0.71);
  border-radius: 10%;
  padding: 3px;
  margin-left: 5px;
  display: inline-block;
}


.date {
  float: left;
  font-size: smaller;
}

.exp-date{
  float: right;
  font-size: smaller;

}